# Build output
Builds/
Binaries/

# JUCE build artifacts
*.xcodeproj
*.xcworkspace

# OS files
.DS_Store

# Windows files
Thumbs.db

# Visual Studio
*.suo
*.user
*.VC.db

# Logs
*.log

# Temporary
*.tmp
